.head{
    background-color: rgb(130, 156, 165);
    grid-area: header;
    height: 70px;
    margin-bottom: 10px;
  }
  .flist li{
    display: inline-block;
    padding-left: 30px; 
    padding-top: 30px;
  }
  .flist li a{
    text-decoration:none;
    text-align: center;
    font-size: 20px;
    color:azure;
  }
  .imgpage{
    text-align:center;
    border: 1px solid;
    border-color: rgb(223, 201, 161);
    padding :10px;
    background-color: rgb(238, 238, 234);
}
.main h3{
  color:rgb(69, 90, 97); 
}
  .main { 
    color:rgb(69, 90, 97); 
    padding: 20px;
    background: rgb(186, 216, 226);
    grid-area: content;
  }
  .linkpage{
    background: rgb(181, 211, 221);
    grid-area: content;
  }
  .footer{
    font-size: 1em;
    min-height: 300px;
    width: 100%;
    background: lightgray;
    display: grid;
    grid-template-columns: 1r;
    grid-template-rows: 20px auto 1fr auto;
    grid-gap: 10px;
  }
  .html{
    border:1px solid;
    border-color: rgb(209, 180, 145);
    background-color: azure;
    font-size: 20px;
    padding:10px;
    margin-bottom: 5px;
  }
  .imghtl{
    border:1px solid;
    text-align: center;
    border-color: lightgoldenrodyellow;
    background-color: lightgoldenrodyellow;
    padding:30px;
  }
  .linkpage h2{
    color:rgb(69, 90, 97);
  }
  .linkpage a{
    font-size: 20px;
    color:rgb(69, 90, 97);    
    text-decoration:none;
  }
  .linkhtml a{
    text-decoration:none;
    font-size: 30px;
  }
  .csshead{ 
    color:rgb(69, 90, 97); 
    padding: 20px;
    margin-bottom: 8px;
    background: rgb(186, 216, 226);
    font-size: 20px;
  }
  .cssmain{ 
    color:rgb(69, 90, 97); 
    padding: 20px;
    background: rgb(186, 216, 226);
    font-size: 20px;
  }
  .linkcss{
    font-size: 25px;
  }
  .linkcss a{
    text-decoration:none;
    color:rgb(69, 90, 97); 
  }
  .inputpage h2{
    color:rgb(139, 139, 93);;
  }
  .inputpage{
    background-color: rgb(238, 238, 213);
  }
  .input form{
    text-align: center;
  }
  .input{
    border:1px solid;
    border-color: rgb(238, 238, 213);
    text-align: center;
    margin-top: 100px;
    margin-left: 90px;
    margin-right: 90px;
    padding:15px;
    padding-right: 10px;
    padding-left: 15px;
    background-color: rgb(238, 238, 213);


  }

  @media (min-width: 200px){
    .footer{
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        "advert header"
        "advert content"
        "advert foonter";
    }
  }